
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $hundy;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}

.default {
  background-color: $theme-color;
}

.error {
  background-color: $error-background;
}

.info {
  background-color: $info-background;
}

.success {
  background-color: $success-background;
}

.warning {
  background-color: $warning-background;
}

@each $hoverclr, $backgrd in $btnhover {
  #{$hoverclr}:hover {
    background-color: lighten($backgrd, 20%);
  }
}
