/* ============================================= */
/*              Images                           */
/* ============================================= */
%img {
  margin-top: 10px;
}

.img {
  
  &-avatar {
    @extend %img;
      @include block-center {  
        max-width: $hundy; 
        max-height: $hundy;
      }
    }
    
  &-frame {
      @extend %img;
      @include block-center {
        max-width: $hundy;
        padding: 13px;
        border: 1px solid #ccc;
      }
    }
    
  &-logo {
      @include block-center;
    }
    
}
